/* Made by TRNEEDANAME */

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(103, 98, 98);
}

a.nav_link {
    padding: 8px;
    display: block;
}

a.nav_link:hover {
    background-color: rgb(103, 98, 98);
    color: rgb(255, 255, 255);
    border-radius: 12px;
}